:root {
   /* --navy-color: rgb(0, 0, 41); */
   --black: #191919;
   --black-web-stroke: var(--black) .025em;
   --sans-serif: 'Lato', sans-serif;
   --sides: 4.5%;
   --max-width: 975px;
}

body {
   background: linear-gradient(#34d4d4a0, #429df8b0, #6042c9a1);
   height: 100dvh;
   background-attachment: fixed;
   background-repeat: no-repeat;
   padding: 0;
}

.body-wrapper {
   display: flex;
   flex-direction: column;
   max-width: var(--max-width);
   padding-inline: var(--sides);
   padding-block: 0 2.5em;
   margin-inline: auto;
}

body * {
   font-family: var(--sans-serif);
   box-sizing: border-box;
   text-align: center;
   color: var(--black);
   -webkit-text-stroke: var(--black-web-stroke);
   text-wrap: balance;
}

body,
p,
button {
   margin: 0 auto;
}

header,
main {
   display: flex;
   flex-direction: column;
}

header {
   margin-top: 2rem;
}

main {
   margin-top: 0.8em;
}

h1 {
   font-size: clamp(2.3em, 0.34em + 11.3vw, 5.5em);
   font-weight: 900;
   letter-spacing: .02em;
   line-height: 1.3;
   text-transform: uppercase;
   text-shadow: 1px 1px 2px #666666d0;
   margin: 0;
}

#subheading {
   height: 100%;
   margin-top: 0.6em;
   opacity: 1;
   font-size: clamp(1.4rem, 0.6rem + 4.25vw, 2.23rem);
}

#subheading p {
   font-style: italic;
   line-height: 1.77;
   font-weight: 400;
   letter-spacing: .012em;
   word-spacing: .04em;
   height: 1.77em;
}

#subheading p.click-below {
   font-size: 1.6em;
   font-style: normal;
   line-height: 1.4;
   font-weight: 600;
   font-variant: all-small-caps;
}

#subheading.transition,
#subheading.transition p {
   height: 0;
   opacity: 0;
   transition: height .6s 0s, opacity .5s 0s ease-out;
}

p#activity-name {
   font-size: clamp(1.9rem, 0.9rem + 4vw, 3.1rem);
   line-height: 1.55;
   border: solid 3.2px #0c9c9ccf;
   box-shadow: 4px 5px 7px #0c9c9c7a;
   border-radius: 10px;
   width: calc(90vw - (2 * var(--sides)));
   max-width: calc(var(--max-width) - (8 * var(--sides)));
   opacity: 0;
   height: 0;
}

p#activity-name::after {
   content: "!";
}

#activity-name.transition {
   opacity: 1;
   height: 100%;
   transition: height 0.6s .1s, opacity .5s 0s ease-in;
   padding: 0.55em 0.4em;
   margin-top: 1.1em;
}

button {
   font-family: var(--sans-serif);
   font-size: clamp(1rem, .3rem + 10vw, 3.9rem);
   font-weight: 900;
   color: white;
   -webkit-text-stroke: #007a7a .02em;
   letter-spacing: .11em;
   word-spacing: .05em;
   line-height: 1.06;
   background-color: #34d4d4;
   border-radius: 100%;
   border: none;
   width: clamp(2.9rem, 58%, 260px);
   aspect-ratio: 1 / 1;
   cursor: pointer;
   padding-block: 3% 5%;
   box-shadow: rgba(255, 255, 255, .25) 0 1px 0, inset rgba(255, 255, 255, .25) 0 1px 0, inset rgba(0, 0, 0, .5) 0 0 0, inset rgba(255, 255, 255, .08) 0 0, inset rgba(0, 0, 0, .3) 0 -1.25rem 1.25rem, inset rgba(255, 255, 255, .081) 0 1.25rem 1.25rem;
}

/* ==================================
	==================================
	MEDIA QUERIES
	==================================
=================================== */
@media (width > 560px) {
   header {
      margin-top: 1.9rem;
   }

   main {
      margin-top: 1rem;
   }

   h1 {
      line-height: 1.15;
      letter-spacing: .03em;
   }

   #subheading {
      line-height: 1.52;
      margin-top: .5em;
   }

   #subheading p.click-below {
         font-size: 1.5em;
         margin-top: 0;
      }

   #activity-name {
      line-height: 1.4;
   }

   #activity-name.transition {
      padding: 0.4em 0.7em;
      margin-top: .8em;
   }
}

@media (width < 330px) {

   #subheading p,
   .click-below {
      font-size: 1.2rem;
      line-height: 1.2;
   }
   .click-below {
      font-size: 1.1rem;
   }
}